@import "tailwindcss";

html, body {
    @apply h-screen;
}   

@layer utilities{
    .flex-center{
        @apply flex items-center justify-center items-center;
    }
    .flex-between{
        @apply flex items-center justify-between;
    }
    .flex-start{
        @apply flex items-center justify-start;
    }
    .flex-end{
        @apply flex items-center justify-end;
    }
    .flex-column{
        @apply flex flex-col;
    }
    .flex-row{
        @apply flex flex-row;
    }
}